
/*menus and navs*/
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover, .list-group-item.hover {
	color: #FFF;
	background-color: rgba(115, 90, 41, 0.8);
	border-color: rgba(51, 40, 18, 1);
}

#multi-menu.active, .list-group-item.active {
	color: rgba(115, 90, 41, 0.8);
	border-color: rgba(51, 40, 18, 1);
	background-color: transparent;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
	color: #FFF;
	text-decoration: none;
	border-color: rgba(51, 40, 18, 1);
	background-color: rgba(115, 90, 41, 0.8);
}


/*buttons*/
.btn-primary {
	color: #FFF;
	background-color: rgba(115, 90, 41, 0.8);
	border-color: rgba(51, 40, 18, 1);
}
.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
	color: #FFF;
	background-color: rgba(115, 90, 41, 0.8);
	border-color: rgba(51, 40, 18, 1);
}

/*footer*/
a {
	color: rgba(51, 40, 18, 1);
	text-decoration: none;
}