
/********************************************
* Base html styling
********************************************/
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  margin: 0 auto -140px;
}
footer, .push {
  height: 140px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 100px;
  background-color: whitesmoke;
  overflow-y: scroll;
}

footer {
  padding-top: 20px;
  text-align: center;
  background-color: whitesmoke;
  border-top: 3px solid white;
}

footer p {
  margin-top: 30px;
  text-align: center;
}

@media screen and (min-width: 768px) {

}

#main-menu {
  color: white;
}

#main-menu a {
  color: white;
  padding: 4px 10px;
  margin-left: 4px;
}

#main-menu a:hover {
  border: 2px solid #7AC142;
  background-color: transparent;
  color: white;
}

#main-menu .dropdown-menu {
  background-color: #000000;
  right: 0px;
  left: auto;
}

.container-fluid {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.container-margin-sm {
  width: 98%;
}

@media screen and (min-width: 768px) {
  .container-fluid {
    width: 80%;
  }
}

#main-menu {
  background-color: black;
  width: 100%;
  height: 60px;
  padding-top: 15px;
  padding-left: 1%;
  padding-right: 1%;
}

@media screen and (min-width: 768px) {
  #main-menu {
    height: 50px;
    padding-left: 10%;
    padding-right: 10%;
  }
}

#main-menu ul.nav.nav-pills > li {
  float: right;
}

.white-container {
  background-color: white;
  border-radius: 10px;
  padding: 2em;
}

.inline-list,
.no-list-style {
  list-style-type: none;
}

.inline-list {
  padding: 0;
}

@media screen and (min-width: 768px) {
  .inline-list {
    padding: inherit;
  }

  .inline-list li {
    display: inline-block;
    margin-left: 30px;
  }
}

.inline-list li:first-child {
  margin-left: 0;
}

#outputArea {
  margin: 0 !important;
  padding: 1em;
  border-radius: 3px;
  margin-top: 10px;
}

a:hover {
  text-decoration: none !important;
}

#farm-to-you-logo a {
  font-size: 1.2em;
  font-family: serif;
}

@media screen and (min-width: 768px) {
  #farm-to-you-logo a {
    font-size: 2em;
  }
}

#farm-to-you-logo a:hover {
  text-decoration: none;
  border: none;
}

#farm-to-you-logo a,
#farm-to-you-logo a:hover {
  color: #7AC142;
}

.delete-item {
  font-size: 2em;
}

/********************************************
* forms
********************************************/
input[type=text] {
  padding: 0.3em;
  padding-left: 1em;
  border: 2px solid lightgray;
  border-radius: 12px;
}

input[type=text]:focus {
  outline: none;
}

input[type=password] {
  padding: 0.3em;
  padding-left: 1em;
  border: 2px solid lightgray;
  border-radius: 12px;
}

input[type=password]:focus {
  outline: none;
}

#main-search input[type=text],
#main-search button {
  width: 100%;
}

#main-search button {
  width: 30px;
  height: 30px;
  padding: 0;
}

.xs-input {
  width: 60px;
}

.form-group,
.form-row {
  margin-top: 20px;
}

.form-row:not(.center) {
  margin-left: 1em;
}

/********************************************
* tables
********************************************/
td {
  vertical-align: middle !important;
}

/********************************************
* bootstrap setup
********************************************/
li[role=presentation] a:hover,
li[role=presentation] a:visited,
li[role=presentation] a:active,
li[role=presentation] a:focus,
li[role=presentation].open a {
  background-color: transparent !important;
}

#my-account-dropdown-menu {
  background-color: darkgrey;
}

/********************************************
* thumbnails
********************************************/
.thumbnail {
  padding: 2px;
}

.tiny-thumbnail,
.thumbnail img {
  width: 28px;
  height: 28px;
}

.thumbnail-links li {
  display: inline-block;
  margin-left: 0.1em;
  float: right;
}

@media screen and (min-width: 768px) {
  .tiny-thumbnail,
  .thumbnail img {
    width: 70px;
    height: 70px;
  }

  .thumbnail {
    padding: 4px;
  }

  .thumbnail-links li {
    margin-left: 1em;
  }
}


.thumbnail {
  display: inline-block;
}

.product-quantity {
  max-width: 80px;
}

/********************************************
* Utilities classes
********************************************/
.no-margin {
  margin: 0 !important;
}

.vertical-spacer-60 {
  margin-top: 60px;
}

.no-padding-right {
  padding-right: 0;
}

.push-right {
  float: right;
}

.center {
  text-align: center;
}

.disable-color {
  color: #e5e5e5;
  border-color: #e5e5e5 !important;
}

.outline {
  border: 1px solid;
  border-radius: 3px;
  padding: 1em;
}

/********************************************
* Headings
********************************************/
h2 {
  padding: 10px 0;
}

h1 {
  font-size: 1.4em;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 1.6em;
}

/********************************************
* cart
********************************************/
.basic-information {
  color: #aaa;
}

.cart-product {
  margin-top: 30px;
}

#cart th,
#cart #total-price-result {
  color: #337ab7;
  font-weight: bold;
}

#cart #total-price-result {
  position: relative;
  left: 1em;
}

#cart #total-price-label {
  position: relative;
  left: 10%;
}

#cart [id$=-final-price] {
  width: 105px !important;
  text-align: right;
}

#cart th:nth-child(6) {
  text-align: right;
}

#cart td:last-child {
  padding-left: 60px;
}

/* product page */
.currency-value {
  font-size: 1.6em;
  font-weight: bold;
}

#listing-page-cart {
  border: 3px solid #add8e6;
  border-radius: 3px;
  padding: 1em;
  margin-bottom: 30px;
}

.store-name {
  font-size: 1em;
  position: relative;
  bottom: 40px;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .store-name {
    font-size: 2em;
  }
}

.count-store-products {
  height: 80px;
  width: 80px;
  padding: 1em;
  font-size: 20px;
  text-align: center;
}

.count-store-products small {
  font-size: 0.7em;
  display: block;
}

.thumbnail-links .count-store-products span {
  position: relative;
  top: 20px;
}

#add-product-to-cart {
  width: 100%;
  margin-top: 20px;
}

#page-not-found {
  background-image: url("../images/farm-not-found.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/********************************************
* cart icon
********************************************/
#cart-main-menu-item {
  font-size: 1.2em;
  position: relative;
  bottom: 10px;
}

#cart-main-menu-item small {
  font-size: 0.7em;
  display: block;
}

.count {
  font-size: 0.7em;
  padding: 0.05em 0.15em;
  border-radius: 2px;
  color: white;
  background-color: #7AC142;
  position: absolute;
  bottom: 35px;
  left: 26px;
}

#multi-menu {
  margin-top: 30px;
}

