/********************************************
* Fonts
********************************************/
@font-face {
	font-family: 'Biko';
	src: url('../fonts/Biko_Regular.otf') format('opentype')
}

@font-face {
	font-family: 'ArchitectsDaughter';
	src: url('../fonts/ArchitectsDaughter.ttf') format('truetype')
}

/********************************************
* Base html styling
********************************************/
* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	margin-bottom: -60px;
}

.wrapper:after {
	content: "";
	display: block;
}
footer, .wrapper:after {
	height: 60px;
}

footer {
	margin-top: 30px;
	position: relative;
	z-index: 3;
}

body {
	background-color: whitesmoke;
	overflow-y: scroll;
	font-family: Biko;
}

footer {
  padding-top: 20px;
  text-align: center;
  background-color: whitesmoke;
  border-top: 3px solid white;
}

footer p {
  margin-top: 30px;
  text-align: center;
}

#main-menu {
	color: black;
	position: relative;
	z-index: 3;
}

#main-menu a {
  color: black;
  padding: 4px 10px;
  margin-left: 4px;
}

#main-menu a:hover {
	background-color: transparent;
	color: #497a2d;
	outline: none;
}

#main-menu a:visited,
#main-menu a:focus {
	background-color: transparent;
	outline: none;
}

#main-menu .dropdown-menu {
  background-color: white;
  right: 0px;
  left: auto;
}

.container-fluid {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.container-margin-sm {
  width: 98%;
}

@media screen and (min-width: 768px) {
  .container-fluid {
	  width: 80%;
  }
}

#main-menu {
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 60px;
  padding: 15px 1%;
}

@media screen and (min-width: 768px) {
  #main-menu {
    padding-left: 10%;
    padding-right: 10%;
  }
}

#main-menu ul.nav.nav-pills > li {
  float: right;
}

.inline-list,
.product-listing,
.no-list-style {
  list-style-type: none;
}

.inline-list,
.product-listing {
  padding: 0;
}

.inline-list li {
	display: inline-block;
}

.product-listing li {
	display: inline-block;
	vertical-align: middle;
	width: 49%;
}

.product-listing-card {
	margin: 0 10px 10px 0;
	padding: 0.2em;
	border: 1px solid lightgray;
	border-radius: 3px;
}

.product-listing-card img {
	max-width: 100%;
	height: 100px;
}

.product-listing-detail {
	font-size: 0.8em;
	height: 30px;
}

@media screen and (min-width: 768px) {
	.inline-list {
	 	padding: inherit;
	}

	.inline-list li {
	 	margin-left: 30px;
	}

	.product-listing li {
		width: 24.5%;
	}
}

.inline-list li:first-child {
  margin-left: 0;
}

#outputArea {
  margin: 0 !important;
  padding: 1em;
  border-radius: 3px;
  margin-top: 10px;
}

a:hover {
  text-decoration: none !important;
}

#farm-to-you-logo a {
  font-size: 1.2em;
  font-family: serif;
}

@media screen and (min-width: 768px) {
  #farm-to-you-logo a {
    font-size: 2em;
  }
}

#farm-to-you-logo a:hover {
  text-decoration: none;
  border: none;
}

#farm-to-you-logo a,
#farm-to-you-logo a:hover {
  color: #497a2d;
}

.delete-item {
  font-size: 2em;
}

/********************************************
* forms
********************************************/
input[type=text] {
  padding: 0.3em;
  padding-left: 1em;
  border: 2px solid lightgray;
  border-radius: 12px;
}

input[type=text]:focus {
  outline: none;
}

input[type=password] {
  padding: 0.3em;
  padding-left: 1em;
  border: 2px solid lightgray;
  border-radius: 12px;
}

input[type=password]:focus {
  outline: none;
}

#main-search input[type=text],
#main-search button {
  width: 100%;
}

#main-search button {
  width: 30px;
  height: 30px;
  padding: 0;
}

.xs-input {
  width: 60px;
}

.form-group,
.form-row {
  margin-top: 20px;
}

.form-row:not(.center) {
  margin-left: 1em;
}

/********************************************
* tables
********************************************/
td {
  vertical-align: middle !important;
}

/********************************************
* bootstrap setup
********************************************/
li[role=presentation] a:hover,
li[role=presentation] a:visited,
li[role=presentation] a:active,
li[role=presentation] a:focus,
li[role=presentation].open a {
  background-color: transparent !important;
}

#my-account-dropdown-menu {
  background-color: darkgrey;
}

/********************************************
* thumbnails
********************************************/
.thumbnail {
  padding: 2px;
}

.tiny-thumbnail,
.thumbnail img {
  width: 28px;
  height: 28px;
}

.thumbnail-links li {
  display: inline-block;
  margin-left: 0.1em;
  float: right;
}

@media screen and (min-width: 768px) {
  .tiny-thumbnail,
  .thumbnail img {
    width: 70px;
    height: 70px;
  }

  .thumbnail {
    padding: 4px;
  }

  .thumbnail-links li {
    margin-left: 1em;
  }
}


.thumbnail {
  display: inline-block;
}

.product-quantity {
  max-width: 80px;
}

/********************************************
* Utilities classes
********************************************/
.no-margin {
  margin: 0 !important;
}

.mt30 {
	margin-top: 30px;
}

.mt60 {
  margin-top: 60px;
}

.no-padding-right {
  padding-right: 0;
}

.push-right {
  float: right;
}

.center {
  text-align: center;
}

.disable-color {
  color: #e5e5e5;
  border-color: #e5e5e5 !important;
}

.outline {
  border: 1px solid;
  border-radius: 3px;
  padding: 1em;
}

.screen-center {
  margin-top: 10%;
}

.white-container {
  background-color: white;
  border-radius: 10px;
  padding: 2em;
}

.white-transparent-container {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 2em;
}

/********************************************
* Headings
********************************************/
h2 {
  padding: 10px 0;
}

h1 {
  font-size: 1.4em;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 1.6em;
}

/********************************************
* cart
********************************************/
.basic-information {
  color: #aaa;
}

.cart-product {
  margin-top: 30px;
}

#cart th,
#cart #total-price-result {
  color: #337ab7;
  font-weight: bold;
}

#cart #total-price-result {
  position: relative;
  left: 1em;
}

#cart #total-price-label {
  position: relative;
  left: 10%;
}

#cart [id$=-final-price] {
  width: 105px !important;
  text-align: right;
}

#cart th:nth-child(6) {
  text-align: right;
}

#cart td:last-child {
  padding-left: 60px;
}

/* product page */
.currency-value {
  font-size: 1.6em;
  font-weight: bold;
}

#listing-page-cart {
  border: 3px solid #add8e6;
  border-radius: 3px;
  padding: 1em;
  margin-bottom: 30px;
}

#cart-main-menu-item {
	font-size: 1.2em;
	position: relative;
	bottom: 10px;
}

#cart-main-menu-item small {
	font-size: 0.7em;
	display: block;
}

.count {
	font-size: 0.7em;
	padding: 0.05em 0.15em;
	border-radius: 2px;
	color: white;
	background-color: #7AC142;
	position: absolute;
	bottom: 35px;
	left: 26px;
}

/********************************************
* store
********************************************/
.store-name {
  font-size: 1em;
  position: relative;
  bottom: 40px;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .store-name {
    font-size: 2em;
  }
}

.store-banner {
	width: 100%;
	height: 100px;
	overflow: hidden;
}

.store-banner img {
	position: relative;
	bottom: 100px;
}

.count-store-products {
  height: 80px;
  width: 80px;
  padding: 1em;
  font-size: 20px;
  text-align: center;
}

.count-store-products small {
  font-size: 0.7em;
  display: block;
}

.thumbnail-links .count-store-products span {
  position: relative;
  top: 20px;
}

.section {
	background-color: white;
	padding: 0.4em;
	border: 1px solid lightgray;
	border-radius: 5px;
}

@media screen and (min-width: 768px) {
	.section {
		padding: 1em;
	}
}

#add-product-to-cart {
  width: 100%;
  margin-top: 20px;
}

/********************************************
* errors
********************************************/
#page-not-found {
	background-image: url("../images/farm-not-found.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 720px;
}

#multi-menu {
	margin-top: 30px;
}

/********************************************
* social networks
********************************************/
.share-button {
	display: inline-block;
	vertical-align: middle;
}

/********************************************
* home page new user
********************************************/
.home-top {
	background: transparent url("../images/home-page.jpg") no-repeat fixed center center/cover;
	position: absolute;
	z-index: 1;
	top: 0px;
	width: 100%;
	height: 100%;
}

.home-top-search-area {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	margin: auto;
	margin-top: 20%;
	position: relative;
}

@media screen and (min-width: 768px) {
	.home-top-search-area {
		width: 840px;
		padding: 40px;
		border-radius: 18px;
	}
}

.home-top .heading {
	color: #497a2d;
	font-family: ArchitectsDaughter;
	font-size: 1.4em;
}

.search-field {
	border-top-left-radius: 6px !important;
	border-bottom-left-radius: 6px !important;
	border: none !important;
	padding: 1em;
}

/********************************************
*sign-up, sign-in, activation,
********************************************/
.sign-up {
  background: transparent url("../images/home-page.jpg") no-repeat fixed center center/cover;
  position: absolute;
  z-index: 1;
  top: 0px;
  width: 100%;
  height: 100%;
}

.sign-up-form {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  margin: auto;
  margin-top: 20%;
  position: relative;
}

/*@media screen and (min-width: 768px) {*/
  /*.home-top-search-area {*/
    /*width: 840px;*/
    /*padding: 40px;*/
    /*border-radius: 18px;*/
  /*}*/
/*}*/

.sign-up-form  {
  color: #497a2d;
  font-family: ArchitectsDaughter;
  font-size: 1.4em;
}

/*.search-field {*/
  /*border-top-left-radius: 6px !important;*/
  /*border-bottom-left-radius: 6px !important;*/
  /*border: none !important;*/
  /*padding: 1em;*/
/*}*/

/********************************************
* horizontal scroll
********************************************/
#wrapper {
	position: relative;
	z-index: 1;
	overflow: scroll;
}

#scroller {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 3770px; /* 20 list item of 160px width and a margin-right of 30px: 20 * (160 + 30) - 30 */
	height: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

#scroller ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	max-height: 100%;
	text-align: center;
}

#scroller li {
	display: block;
	float: left;
	width: 160px;
	height: 160px;
	font-size: 14px;
	margin-right: 30px;
	border: 1px solid black;
}

#scroller li > img {
	width: 160px;
	height: 160px;
}

#scroller li:last-child {
	margin-right: 0;
}

#searchResultPage {
	font-size: 25px;
	font-weight: bold;
}

#filter-categories {
	margin-top: 20px;
}

#category-list {
	text-indent: 25px;
}

/********************************************
* google maps
********************************************/
#map-canvas {
	width: 500px;
	height: 400px;
	background-color: #CCC;
}


.pickup-locations {
	width: 280px;
}
