/**
 * placeholder colors and others
 */
footer,
#main-menu {
	background-color: darkgrey;
	color: white;
}

footer {
	border-top: 1px solid black;
}

#main-menu {
	border-bottom: 1px solid black;
}

footer a,
#main-menu a {
	color: white;
}

footer p {
	margin-top: 30px;
	text-align: center;
}




/**
 *	Sticky footer plugin: http://mystrd.at/modern-clean-css-sticky-footer/
 */
html {
	position: relative;
	min-height: 100%;
}
body {
	margin: 0 0 100px; /* bottom = footer height */
}
footer {
	position: absolute;
	left: 0;
	bottom: 0;
	min-height: 100px;
	width: 100%;
}

/**
 * forms
 */
input[type=text] {
	padding: 0.3em;
	padding-left: 1em;
	border: 2px solid lightgray;
	border-radius: 12px;
}

input[type=text]:focus {
	outline: none;
}

#main-search {
	width: 90% !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

#main-search input[type=text],
#main-search button {
	width: 100%;
}

#main-search button {
	width: 30px;
	height: 30px;
	padding: 0;
}

/**
 *	bootstrap elements setup
 */
.container-fluid {
	width: 100% !important;
	margin: 0 !important;
	padding: 0;
}

.row-fluid {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#main-menu {
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
}

li[role=presentation] a:hover,
li[role=presentation] a:visited,
li[role=presentation] a:active,
li[role=presentation] a:focus,
li[role=presentation].open a {
	background-color: transparent !important;
}

#my-account-dropdown-menu {
	background-color: darkgrey;
}

/**
 * top main-menu
 */
#main-menu ul.nav.nav-pills > li {
	float: right;
}

/*
 * utilities classes
 */
.no-margin {
	margin: 0 !important;
}

.vertical-spacer-60 {
	margin-top: 60px;
}

.no-padding-right {
	padding-right: 0;
}

/*
 * head titles
 */
h1, h2 {
	padding: 10px 0;
}

h1 {
	font-size: 1em;
}
h2 {
	font-size: 1.2em;
}


/**
 * Horizontal thumbnail
 */
#wrapper {
	position: relative;
	z-index: 1;
	overflow: scroll;
}

#scroller {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 3770px; /* 20 list item of 160px width and a margin-right of 30px: 20 * (160 + 30) - 30 */
	height: 100%;
	-webkit-transform: translateZ(0);
	   -moz-transform: translateZ(0);
	    -ms-transform: translateZ(0);
	     -o-transform: translateZ(0);
	        transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	-webkit-text-size-adjust: none;
	   -moz-text-size-adjust: none;
	    -ms-text-size-adjust: none;
	     -o-text-size-adjust: none;
	        text-size-adjust: none;
}

#scroller ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	max-height: 100%;
	text-align: center;
}

#scroller li {
	display: block;
	float: left;
	width: 160px;
	height: 160px;
	font-size: 14px;
	margin-right: 30px;
	border: 1px solid black;
}

#scroller li > img {
	width: 160px;
	height: 160px;
}

#scroller li:last-child {
	margin-right: 0;
}

/**
* form changes
**/
.form-group {
	margin-top: 20px
}