/********************************************
* Sticky Footer by Ryan Fait
* http://ryanfait.com/
********************************************/
/** {*/
  /*margin: 0;*/
/*}*/
/*html, body {*/
  /*height: 100%;*/
/*}*/
/*.wrapper {*/
  /*min-height: 100%;*/
  /*margin: 0 auto -155px; *//* the bottom margin is the negative value of the footer's height */
/*}*/
/*footer, .push {*/
  /*height: 155px; *//* '.push' must be the same height as 'footer' */
/*}*/

/********************************************
* Base html styling
********************************************/
html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 100px;
  background-color: whitesmoke;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  min-height: 60px;
  width: 100%;
  padding-top: 20px;
  text-align: center;
  background-color: whitesmoke;
  border-top: 3px solid white;
}

#main-menu {
  color: white;
}

#main-menu a {
  color: white;
  padding: 4px 10px;
  margin-left: 4px;
}

#main-menu a:hover {
  border: 2px solid #7AC142;
  background-color: transparent;
  color: white;
}

footer p {
  margin-top: 30px;
  text-align: center;
}

.container-fluid {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.container-margin-sm {
  width: 96%;
}

#main-menu {
  background-color: black;
  width: 100%;
  height: 60px;
  padding-top: 15px;
  padding-left: 10%;
  padding-right: 10%;
}

#main-menu ul.nav.nav-pills > li {
  float: right;
}

.white-container {
  background-color: white;
  border-radius: 10px;
  padding: 2em;
}

.inline-list,
.no-list-style {
  list-style-type: none;
}

.inline-list li {
  display: inline-block;
  margin-left: 30px;
}

.inline-list li:first-child {
  margin-left: 0;
}

#outputArea {
  margin: 0 !important;
  padding: 1em;
  border-radius: 3px;
  margin-top: 10px;
}

a:hover {
  text-decoration: none !important;
}

#farm-to-you-logo a {
  font-size: 2em;
  font-family: serif;
}

#farm-to-you-logo a:hover {
  text-decoration: none;
  border: none;
}

#farm-to-you-logo a,
#farm-to-you-logo a:hover {
  color: #7AC142;
}

.delete-item {
  font-size: 2em;
}

/********************************************
* forms
********************************************/
input[type=text] {
  padding: 0.3em;
  padding-left: 1em;
  border: 2px solid lightgray;
  border-radius: 12px;
}

input[type=text]:focus {
  outline: none;
}

input[type=password] {
  padding: 0.3em;
  padding-left: 1em;
  border: 2px solid lightgray;
  border-radius: 12px;
}

input[type=password]:focus {
  outline: none;
}

#main-search input[type=text],
#main-search button {
  width: 100%;
}

#main-search button {
  width: 30px;
  height: 30px;
  padding: 0;
}

.xs-input {
  width: 60px;
}

.form-group,
.form-row {
  margin-top: 20px;
}

.form-row:not(.center) {
  margin-left: 1em;
}

/********************************************
* tables
********************************************/
td {
  vertical-align: middle !important;
}

/********************************************
* bootstrap setup
********************************************/
li[role=presentation] a:hover,
li[role=presentation] a:visited,
li[role=presentation] a:active,
li[role=presentation] a:focus,
li[role=presentation].open a {
  background-color: transparent !important;
}

#my-account-dropdown-menu {
  background-color: darkgrey;
}

/********************************************
* thumbnails
********************************************/
.tiny-thumbnail,
.thumbnail img {
  width: 70px !important;
  height: 70px !important;
}

@media screen and (min-width: 768px) {
  .tiny-thumbnail,
  .thumbnail img {
    width: 80px;
    height: 60px;
  }
}
.thumbnail-links li {
  display: inline-block;
  margin-left: 1em;
  float: right;
}

.thumbnail {
  display: inline-block;
}

.product-quantity {
  max-width: 80px;
}

/********************************************
* Utilities classes
********************************************/
.no-margin {
  margin: 0 !important;
}

.vertical-spacer-60 {
  margin-top: 60px;
}

.no-padding-right {
  padding-right: 0;
}

.push-right {
  float: right;
}

.center {
  text-align: center;
}

.disable-color {
  color: #e5e5e5;
  border-color: #e5e5e5 !important;
}

.outline {
  border: 1px solid;
  border-radius: 3px;
  padding: 1em;
}

/********************************************
* Headings
********************************************/
h2 {
  padding: 10px 0;
}

h1 {
  font-size: 1.4em;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 1.6em;
}

/**
 * Horizontal thumbnail
 */
#wrapper {
  position: relative;
  z-index: 1;
  overflow: scroll;
}

#scroller {
  -webkit-tap-highlight-color: transparent;
  width: 3770px;
  /* 20 list item of 160px width and a margin-right of 30px: 20 * (160 + 30) - 30 */
  height: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}

#scroller ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-height: 100%;
  text-align: center;
}

#scroller li {
  display: block;
  float: left;
  width: 160px;
  height: 160px;
  font-size: 14px;
  margin-right: 30px;
  border: 1px solid black;
}

#scroller li > img {
  width: 160px;
  height: 160px;
}

#scroller li:last-child {
  margin-right: 0;
}

/********************************************
* cart
********************************************/
.basic-information {
  color: #aaa;
}

.cart-product {
  margin-top: 30px;
}

#cart th,
#cart #total-price-result {
  color: #337ab7;
  font-weight: bold;
}

#cart #total-price-result {
  position: relative;
  left: 1em;
}

#cart #total-price-label {
  position: relative;
  left: 10%;
}

#cart [id$=-final-price] {
  width: 105px !important;
  text-align: right;
}

#cart th:nth-child(6) {
  text-align: right;
}

#cart td:last-child {
  padding-left: 60px;
}

/* product page */
.currency-value {
  font-size: 1.6em;
  font-weight: bold;
}

#listing-page-cart {
  border: 3px solid #add8e6;
  border-radius: 3px;
  padding: 1em;
  margin-bottom: 30px;
}

.store-name {
  font-size: 2em;
  position: relative;
  bottom: 40px;
  margin-left: 10px;
}

.count-store-products {
  height: 80px;
  width: 80px;
  padding: 1em;
  font-size: 20px;
  text-align: center;
}

.count-store-products small {
  font-size: 0.7em;
  display: block;
}

.thumbnail-links .count-store-products span {
  position: relative;
  top: 20px;
}

#add-product-to-cart {
  width: 100%;
  margin-top: 20px;
}

#page-not-found {
  background-image: url("../images/farm-not-found.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/********************************************
* cart icon
********************************************/
#cart-main-menu-item {
  font-size: 1.2em;
  position: relative;
  bottom: 10px;
}

#cart-main-menu-item small {
  font-size: 0.7em;
  display: block;
}

.count {
  font-size: 0.7em;
  padding: 0.05em 0.15em;
  border-radius: 2px;
  color: white;
  background-color: #7AC142;
  position: absolute;
  bottom: 35px;
  left: 26px;
}

#multi-menu {
  margin-top: 30px;
}

